*{
    background-color: rgb(142, 253, 255);
}
.presentacionPersonal{
    color: aliceblue;
}
img{
    border: solid 1px black;
}
a:hover{
    color: red;
}
.div2{
    margin-top: 10px;
}
#imgIg{
    margin-bottom: 15px;
}
#cardMe{
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 5px;
    background-color: rgba(0, 206, 209, 0.63);
    padding: 5px;
}
#cardMeInfo{
    border-radius: 5px;
}
#cardMeImg{
    border-radius: 5px;
}
body{
    background-color: rgb(142, 253, 255) !important;
}
#formularioContacto{
    margin-top: 12.5px;
    display: flex;
    flex-wrap: wrap;
}
.titulos{
    text-align: center;
}
textarea{
    text-align: center;
}
#btnContacto{
    margin-left: 5px;
}